* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 194, 12);
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
}

header {
  height: 25%;
}

.container {
  padding: 2%;
  border-radius: 1%;
}

img {
  max-height: 200px;
  border-radius: 20px;
  border: 2px solid #111111;
  box-shadow: 0 0 20px #111111;
}

#index {
  max-width: 70px;
  border-radius: 20px;
  border: 2px solid #111111;
  vertical-align: text-top;
  box-shadow: 0 0 20px #111111;
  margin: 1%;
}

#index:hover {
  box-shadow: 0 0 20px #FFFFFF;
  border: 2px solid #FFFFFF;
}

h1 {
  margin-bottom: -1rem;
}

a {
  color: #FF4136;
  text-decoration: none;
  font-size: 2em;
}

a:hover {
  color: #FFFFFF;
}

li {
  list-style-type: none;
  margin: -.5em;
}

ul {
  margin: 0;
}

.button-primary {
  color: #111111 !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}
